<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('')">
<h1>Cocktails</h1>
</div>

<%= link_to 'Create a new cocktail', new_cocktail_path %>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url()">
      <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </div>
  <% end %>
</div>

<br>

<%# <%= cl_image_tag("fm8aobggzg8ih8hlkcvs",
      width: 400, height: 300, crop: :fill) %>
<%# <%= cl_image_tag("m30mxpndyvba7mjiexgs",
      width: 150, height: 150, crop: :thumb, gravity: :face) %> 