<div class="banner">
  <h1>Mister Cocktail</h1>
</div>

<%= link_to 'Create a new cocktail', new_cocktail_path, class: "btn-create btn btn-primary btn-lg d-block mx-auto w-25" %>

<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key %>')">
      <%= link_to cocktail.name.capitalize, cocktail_path(cocktail), class: "cocktail-link" %>
    </div>
  <% end %>
</div>
