.container-show {
  height: 100vh;
  font-size: 18px;
  color: black;
  margin: 0 530px;
  padding: 150px 0;
}

.card {
  border: 1px solid red;
}

.card-cocktail {
  align-items: center;
  h1 {
    margin: 24px 0;
    font-size: 4rem;
  }
  img {
    margin-bottom: 32px;
  }
}

.card-description {
  padding: 24px;
  h3 {
    font-size: 32px;
    font-weight: bold;
  }
}