.btn-create {
  margin-top: 48px;
  font-size: 28px;
}

.btn-primary {
  color: #024282;
  background-color: #b6e8e7;
  border-color: #8FC2C1;
}
.btn-primary:hover {
  background-color: #96e9e7;
  border-color: #96e9e7;
}